/*---------------- google font  -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 85%;
    padding: 2em;
}

/*------------------- header area  ------------------*/

.top-header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
   
}
ul li {
    margin-left: 15px;
}
/*----------------------- top banners ------------------------ */
.top-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}
.banner-title {
    margin-top: 57px;
    font-size: 52px;
    font-weight: 700;
    width: 582px;
    line-height: 70px;
    

}
.banner-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.main-button {
 
    text-decoration: none;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.main-button .fa-solid {
    margin-left: 8px;
}

.thumbnail {
    
    margin-left: 65px;
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.thumbnail img {
    width: 440px;
    height: 414px;
    margin-top: 20px;
}

/*---------------------- companies area ----------------- */

.conpanies {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.company {
    margin-left: 28px;
}
.company-log img{
    width: 84px;
}
.line-top {

    border: 1px solid #EAEEF3;
    margin-bottom: 20px;
}
.line-bottom {
    border: 1px solid #EAEEF3;
    margin-top: 20px;
}


/*---------------------- populer products -------------------------*/

.section-title {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 28px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.product {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.product-title {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}
.price {
    font-weight: 400;
    font-size: 24px;
}

.short-description {
    width: 196px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.018em;
    color: #787885;
}
.fa-star {
    color: #FB8200;
    font-size: 12px;
}

/*------------------------ feature products --------------------- */

.feature-section {
    margin-top: 40px;
}
.featureds-product {
    display: flex;
}

.feature-detail {
    margin-left: 80px;
}
.feature-button {
    text-decoration: none;
    padding: 10px 24px;
    background: #E02C6D;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.feature-title {
    font-weight: 700;
    font-size: 38px;  
    color: #0A0826;
}
.feature-short-description {
    font-weight: 700;
   font-size: 16px;
   color: #6C6C6C;
   margin-bottom: 20px
}

/*----------------------- footer area  --------------------------*/

footer {
    text-align: center;
    background: #0A0826;
    color: #fff;
    padding: 35px 0;

}

.footer-title {
    font-weight: 700;
    font-size: 24px;
}
.footer-detail {
    font-weight: 700;
    font-size: 14px;
}

.fa-brands {
    margin-left: 20px;
}